USE [master]
GO
/****** Object:  Database [wth]    Script Date: 9/25/2017 8:49:04 PM ******/
CREATE DATABASE [wth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wth', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\wth.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wth_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\wth_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wth]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccessToken]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[AccessToken] [nvarchar](max) NULL,
	[ExpireDay] [date] NULL,
 CONSTRAINT [PK_AccessToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOA_DON]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOA_DON](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAHD] [bigint] NOT NULL,
	[TENSACH] [nvarchar](50) NULL,
	[SO_LUONG] [bigint] NULL,
	[DON_GIA] [bigint] NULL,
 CONSTRAINT [PK_dbo.CT_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANH_MUC]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC](
	[MA_DM] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN_DM] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.DANH_MUC] PRIMARY KEY CLUSTERED 
(
	[MA_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[DISTRICTID] [varchar](5) NOT NULL,
	[PROVINCEID] [varchar](5) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[TYPE] [nvarchar](30) NULL,
	[LOCATION] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.DISTRICT] PRIMARY KEY CLUSTERED 
(
	[DISTRICTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HINH_ANH]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HINH_ANH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HINH] [varchar](300) NOT NULL,
	[MA_SACH] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.HINH_ANH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [bigint] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](100) NOT NULL,
	[IDTT] [int] NOT NULL,
	[DIA_CHI] [nvarchar](200) NULL,
	[HO_TEN] [nvarchar](100) NULL,
	[DIEN_THOAI] [bigint] NULL,
	[NGAYDATHANG] [date] NULL,
	[GHI_CHU] [nvarchar](100) NULL,
	[TONG_TIEN] [bigint] NULL,
 CONSTRAINT [PK_dbo.HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG](
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[IDQH] [bigint] NOT NULL,
	[XACTHUC] [int] NULL,
	[BARCODE] [nchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[HO_TEN] [nvarchar](max) NULL,
	[DIA_CHI] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NGUOI_DUNG] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[MA_NXB] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN_NXB] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.NHA_XUAT_BAN] PRIMARY KEY CLUSTERED 
(
	[MA_NXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVINCE]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCE](
	[PROVINCEID] [varchar](5) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[TYPE] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.PROVINCE] PRIMARY KEY CLUSTERED 
(
	[PROVINCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[MA_SACH] [bigint] IDENTITY(1,1) NOT NULL,
	[MA_DM] [bigint] NOT NULL,
	[MA_NXB] [bigint] NOT NULL,
	[TEN_SACH] [nvarchar](200) NULL,
	[GIA_BIA] [bigint] NULL,
	[GIA_BAN] [bigint] NULL,
	[NGAY_NHAP] [date] NULL,
	[SOLUOTMUA] [bigint] NULL,
	[ANHBIA] [varchar](100) NULL,
	[TINHTRANG] [int] NULL,
	[LUOT_XEM] [bigint] NULL,
 CONSTRAINT [PK_dbo.SACH] PRIMARY KEY CLUSTERED 
(
	[MA_SACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SLIDER]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLIDER](
	[ID] [int] NOT NULL,
	[HINH] [nvarchar](100) NULL,
	[TITLE] [nvarchar](100) NULL,
	[BODY] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.SLIDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WARD]    Script Date: 9/25/2017 8:49:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WARD](
	[WARDID] [varchar](5) NOT NULL,
	[DISTRICTID] [varchar](5) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[TYPE] [nvarchar](30) NULL,
	[LOCATION] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.WARD] PRIMARY KEY CLUSTERED 
(
	[WARDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PROVINCEID]    Script Date: 9/25/2017 8:49:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_PROVINCEID] ON [dbo].[DISTRICT]
(
	[PROVINCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DISTRICTID]    Script Date: 9/25/2017 8:49:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_DISTRICTID] ON [dbo].[WARD]
(
	[DISTRICTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DISTRICT_dbo.PROVINCE_PROVINCEID] FOREIGN KEY([PROVINCEID])
REFERENCES [dbo].[PROVINCE] ([PROVINCEID])
GO
ALTER TABLE [dbo].[DISTRICT] CHECK CONSTRAINT [FK_dbo.DISTRICT_dbo.PROVINCE_PROVINCEID]
GO
ALTER TABLE [dbo].[WARD]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WARD_dbo.DISTRICT_DISTRICTID] FOREIGN KEY([DISTRICTID])
REFERENCES [dbo].[DISTRICT] ([DISTRICTID])
GO
ALTER TABLE [dbo].[WARD] CHECK CONSTRAINT [FK_dbo.WARD_dbo.DISTRICT_DISTRICTID]
GO
USE [master]
GO
